@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
body {
  margin: 0;
  line-height: normal;
  
}

// .unsplashlpbydenbqqg-icon {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   position: absolute;
//   left: 0;
//   top: 0;
//   bot: 0;
// }
.wrapper-unsplashlpbydenbqqg {
background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 0;
    padding-bottom: 0;
    width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
}
.login2 {
  margin: 0;
  position: relative;
  font-size: 48px;
  line-height: 64px;
  font-weight: 600;
  font-family: Poppins;
  color: #111;
  text-align: left;
}
.headline-and-subhead {
  align-self: stretch;
  display: none;
  z-index: 0;
}
.label {
  top: 0;
  left: 0;
  font-size: 16px;
  font-family: Poppins;
  color: #666;
  text-align: left;
}
.hide,
.icon,
.label {
  position: absolute;
}
.icon {
  top: 3px;
  right: 49px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.hide {
  top: 0;
  right: 0;
  font-size: 18px;
  font-family: Poppins;
  color: rgba(102, 102, 102, 0.8);
  text-align: right;
}
.password-hide-see {
  position: absolute;
  top: 0;
  right: 8.9px;
  width: 73px;
  height: 27px;
  display: none;
}

.inputs {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: Poppins;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}
.icons {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.text-field {
  flex: 1;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.35);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 13px 24px 15px;
  max-width: 100%;
  width: 425px;
   
  
}
.error-message {
  width: 101px;
  position: relative;
  font-size: 14px;
  font-family: Poppins;
  color: #ee1d52;
  text-align: left;
  display: none;
}

.input-field {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;

}


.label1 {
  top: 0;
  left: 0;
  font-size: 16px;
  font-family: Poppins;
  color: #666;
  text-align: left;
}
.hide1,
.icon1,
.label1 {
  position: absolute;
}
.icon1 {
  top: 3px;
  right: 49px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.hide1 {
  top: 0;
  right: 0;
  font-size: 18px;
  font-family: Poppins;
  color: rgba(102, 102, 102, 0.8);
  text-align: right;
}
.password-hide-see1 {
  position: absolute;
  top: 0;
  right: 8.9px;
  width: 73px;
  height: 27px;
  display: none;
}
.label-group {
  height: 27px;
  width: 665px;
  position: relative;
  display: none;
  max-width: 100%;
}
.inputs1 {
  width: 199px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: Poppins;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}
.icons1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.text-field1 {
  flex: 1;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.35);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 13px 24px 15px;
  max-width: 100%;
}
.error-message1 {
  width: 101px;
  position: relative;
  font-size: 14px;
  font-family: Poppins;
  color: #ee1d52;
  text-align: left;
  display: none;
}
.email1 {
  width: 426px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
  max-width: 100%;
}
.welcome-to-event {
  margin: 0 !important;
  width: 100%;
  position: absolute;
  top: -22px;
  left: 0;
  font-size: 40px;
  font-weight: bold;
  font-family: Poppins;
  color: #333;
  text-align: left;
  display: inline-block;
  z-index: 1;
}
.content1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 168px 0 0;
  box-sizing: border-box;
  position: relative;
  gap: 48px;
  max-width: 100%;
}
.icons2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.sign-up {
  position: relative;
  font-size: 22px;
  font-weight: 500;
  font-family: Poppins;
  color: #fff;
  text-align: center;
  display: inline-block;
  min-width: 65px;
  white-space: nowrap;
}
.button,
.icons-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.icons-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  justify-content: flex-start;
  gap: 8px;
}
.button {
  width: 426px;
  border-radius: 32px;
  background-color: #111;
  justify-content: center;
  padding: 11px 20px 12px;
  box-sizing: border-box;
}
.button,
.content,
.login1 {
  overflow: hidden;
  max-width: 100%;
}
.content {
  margin: 0;
  position: absolute;
  top: 5%;
  left: 5%;
  backdrop-filter: blur(24px);
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.25);
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2% 2% 2% 2%;
  box-sizing: border-box;
  gap: 35px;
  z-index: 1;
}
.login1 {
  height: 920px;
  flex: 1;
  position: relative;
  background-color: #fff;
}
.login {
  width: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 767px) {
  .wrapper-unsplashlpbydenbqqg {
    width: 90vw;
    height: 60vh;
  }
  .login2 {
    font-size: 38px;
    line-height: 51px;
  }
  .welcome-to-event {
    font-size: 32px;
    top: -18px;
  }
}
@media screen and (max-width: 450px) {
  .wrapper-unsplashlpbydenbqqg {
    height: 40vh;
  }
  .login2 {
    font-size: 29px;
    line-height: 38px;
  }
  .welcome-to-event {
    font-size: 24px;
  }
  .sign-up {
    font-size: 18px;
    padding: 8px 16px;
  }
  @media screen and (max-width: 768px) {
    .content {
      padding: 3rem 1.5rem; /* Adjust padding for smaller screens */
    }
  }

  @media screen and (max-width: 450px) {
    .content {
      padding: 2rem 1rem; /* Adjust padding for even smaller screens */
    }
  }
}

.Fail {
color: red;
font-size: 20px;
}